@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(black, gray);
    display: none;
    justify-content: center;
    align-items: center;
}

.playerOne,
.playerTwo {
    width: 123px;
    height: 123px;
    background-color: rgb(174, 174, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin: 34px;
}

.playerOne {
    background-color: green;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoard {
    width: 21vw;
    height: 21vw;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid red;
}

.blocks {
    background-color: black;
    width: 7vw;
    height: 7vw;
}

.gameBoard :hover {
    background-color: rgb(38, 38, 38);
}

.restart {
    font-size: 23px;
    width: 21vw;
    border: 2px solid black;
    margin: 12px;
    border-radius: 6px;
    padding: 6px;
    background: black;
    color: white;
}

.winnerDiv {
    display: none;
}

.winner {
    width: 100vw;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 44px;
    position: absolute;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    .gameBoard {
        min-width: 450px;
        min-height: 450px;
    }

    .blocks {
        width: 150px;
        height: 150px;
    }

    .restart {
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .gameBoard {
        min-width: 90vw;
        min-height: 90vw;
    }

    .blocks {
        width: 30vw;
        height: 30vw;
    }

    .restart {
        width: 90vw;
    }
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.username {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 456px;
    font-size: 23px;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3), -5px -5px rgb(0, 0, 0, 0.3), 5px 5px rgb(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

.username input {
    border: 1px solid black;
    border-radius: 6px;
    margin: 4px;
    font-size: 23px;
    padding: 4px;
}

.username button {
    margin: 4px;
    font-size: 23px;
    border: 1px solid black;
    border-radius: 6px;
}

.username button :hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn {
    padding: 4px;
}