@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(black, gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerOne,
.playerTwo {
    width: 123px;
    height: 123px;
    background-color: rgb(174, 174, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin: 34px;
}

.playerOne {
    background-color: green;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoard {
    width: 21vw;
    height: 21vw;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid red;
}

.blocks {
    background-color: black;
    width: 7vw;
    height: 7vw;
}

.gameBoard :hover {
    background-color: rgb(38, 38, 38);
}

.restart {
    font-size: 23px;
    width: 21vw;
    border: 2px solid black;
    margin: 12px;
    border-radius: 6px;
    padding: 6px;
    background: black;
    color: white;
}

.winner {
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 34px;
    position: absolute;
    top: 23px;
}

@media screen and (max-width: 1200px) {
    .gameBoard {
        min-width: 450px;
        min-height: 450px;
    }

    .blocks {
        width: 150px;
        height: 150px;
    }

    .restart {
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .gameBoard {
        min-width: 90vw;
        min-height: 90vw;
    }

    .blocks {
        width: 30vw;
        height: 30vw;
    }

    .restart {
        width: 90vw;
    }
}